<!-- Carousel controls for switching between chapter slides  -->

{# templates/stories/_carousel_controls.html #}
{% if sorted_chapters|length > 1 %}
<div class="bg-light rounded p-2 mb-1 d-flex justify-content-end align-items-center gap-2">
    <div class="carousel-indicators m-0">
        {% for chapter in sorted_chapters %}
        <button type="button" data-bs-target="#carousel-{{ parent.id }}" data-bs-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.first %}active{% endif %}" {% if forloop.first %}aria-current="true" {% endif %}
            aria-label="Slide {{ forloop.counter }}">
        </button>
        {% endfor %}
    </div>

    <span class="fw-bold text-muted">Slide through to read stories by others </span>
    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-target="#carousel-{{ parent.id }}"
        data-bs-slide="prev">◀</button>
    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-target="#carousel-{{ parent.id }}"
        data-bs-slide="next">▶</button>
</div>
{% endif %}